@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Sono:wght@300&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Sono&family=Source+Code+Pro&display=swap");
#cortina-nav {
  position: sticky;
  top: 0;
  z-index: 99;
}

@media only screen and (min-width: 991px) {
  .nav_portfolio {
    height: 50px;
  }
}
.navegacion {
  position: sticky;
  top: 0;
  z-index: 99;
}

#navbarNav {
  justify-content: center;
}

.navbar-nav {
  margin-top: 0px;
  padding: 3px;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hide {
  display: none;
}

#selector-idioma {
  display: flex;
  justify-content: end;
  margin: 0px 0px 0px 120px;
}

.nav_cart {
  color: white;
  justify-self: end;
  margin: 0px 70px;
  cursor: pointer;
}

/*BOTONES PERSONALIZADOS*/
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255), 0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

/*Botones NAV*/
.butn {
  margin: 5px;
}

.butn:link,
.butn:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 30px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.butn:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(27, 27, 27, 0.5);
}

.butn:active {
  transform: translateY(-3px);
}

.butn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.butn:hover::after {
  background-color: rgb(0, 238, 255);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

#index-banner {
  background-image: url(../resources/fotos__comprimidas/weirdShit.jpg);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

#portfolio-banner {
  background-image: url(../resources/fotos__comprimidas/cacu-tigre-byn.jpg);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

#nft-banner {
  background-image: url(../resources/fotos__comprimidas/lucia.jpg);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

#prints-banner {
  background-image: url(../resources/fotos__comprimidas/teo-mano.jpg);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

#aboutMe-banner {
  background-image: url(../resources/fotos__comprimidas/jo-cumple-maki.JPG);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

/*Banner Index mitad de pagina*/
#banner {
  background-image: url(../resources/fotos__comprimidas/cacuvalen.jpg);
  height: 550px;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 120px;
  margin-right: 0px;
}
@media (max-width: 1000px) {
  #banner {
    height: 275px;
    background-image: url(../resources/fotos__comprimidas/cacuvalen_resized.png);
  }
}

.animate__fadeIn {
  animation-delay: 0.5s;
}

/*ESTO SE PONE EN TODOS LOS DOCUMENTOS PARA RESETEAR EL DEFAULT DEL BROWSER*/
* {
  margin: 0;
  padding: 0;
}

html header h1 {
  color: white;
}

body {
  max-width: 100%;
  font-family: "Roboto Mono";
  background-image: linear-gradient(to right, #272640, #620404);
  overflow-x: hidden;
}
body section {
  margin-top: 100px;
}
body img {
  border-radius: 15px;
  transition: 0.5s;
}
body footer {
  font-family: "Roboto Mono";
}
body footer .footer__icon__hover {
  transition: 0.5s;
  display: inline-block;
}
body footer .footer__icon__hover:hover {
  transform: scale(1.5);
}
body footer #opensea_logo_footer {
  max-width: 25px;
}
body footer #cafecito_boton {
  margin: 20px 0 0 0;
  transition: 0.5s;
}
body footer #cafecito_boton:hover {
  transform: scale(1.05);
}

.color-card {
  background-color: #3A3B40;
}

.text-white {
  color: white;
}

.title-nfts {
  font-size: 3rem;
}

.img-nfts {
  max-width: 600px;
}
@media (max-width: 1200px) {
  .img-nfts {
    max-width: 550px;
  }
}
@media (max-width: 990px) {
  .img-nfts {
    max-width: 500px;
  }
}
@media (max-width: 800px) {
  .img-nfts {
    max-width: 450px;
  }
}
@media (max-width: 650px) {
  .img-nfts {
    max-width: 400px;
  }
}
@media (max-width: 500px) {
  .img-nfts {
    max-width: 350px;
  }
}
@media (max-width: 450px) {
  .img-nfts {
    max-width: 300px;
  }
}
@media (max-width: 400px) {
  .img-nfts {
    max-width: 250px;
  }
}

.flex-center {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.gallery-item {
  max-width: 100%;
}

#gallery-modal .modal-img {
  max-width: 100%;
}

header, h1 {
  font-size: 7rem;
  margin-right: 30px;
}

@media only screen and (max-width: 778px) {
  header h1 {
    font-size: 3rem;
  }
}
header a:visited {
  color: white;
  text-decoration: none;
}

button {
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 30px;
}

.flex-container__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container-end {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

h1 {
  padding: 15px;
}

h2 {
  padding: 15px;
}

ul {
  margin: 20px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 35px;
  margin-top: 100px;
}

footer a:visited {
  color: white;
  text-decoration: none;
}

/*GRID INDEX*/
.card-body {
  color: black;
}

.img-fluid rounded-start {
  width: 100%;
}

a {
  margin: 0em 1em;
}

aside {
  position: sticky;
  top: 135px; /* Height of the navbar */
  margin-left: 80px;
  margin-right: 100px;
  margin-top: 25vh;
  border-color: #620404;
  border-width: 5px;
  border-radius: 5%;
  float: left;
  color: white;
  text-align: left;
  background-image: radial-gradient(#620404, #51473D);
}
aside button {
  margin: 8.5px;
}
aside .dropdown-item {
  width: auto;
}
aside .dropdown_li {
  margin-top: 10px;
  margin-bottom: 10px;
}
aside .fila-margen {
  padding: 2px;
  border-width: 4px;
  border-color: brown;
}

@media only screen and (max-width: 991px) {
  aside {
    display: none;
  }
  .gallery {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media only screen and (min-width: 991px) {
  #aside_button {
    display: none;
  }
}
#galeria img {
  max-width: 100%;
  object-fit: contain;
}
#galeria span {
  overflow: hidden;
  border-radius: 2%;
}
#galeria .imageClass {
  transition: all 0.3s ease;
}
#galeria .imageClass:hover {
  transform: scale(1.03);
  cursor: pointer;
}

#cortina .curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.85;
  cursor: pointer;
}
#cortina #show-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
#cortina .preview_shoppingcrt {
  position: fixed;
  right: 50px;
  top: 30px;
  transition: all 0.3s ease;
}
#cortina .preview_shoppingcrt:hover {
  transform: scale(1.05);
  cursor: pointer;
}
#cortina .preview-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  max-width: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  border-radius: 2%;
  opacity: 0;
  pointer-events: none;
}
#cortina .preview-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  color: white;
}
#cortina .preview-box .slide.prev {
  left: -250px;
}
#cortina .preview-box .slide.next {
  right: -250px;
}
#cortina .preview-box .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px 12px 10px;
}
#cortina .preview-box .details .icon {
  color: black;
  cursor: pointer;
  font-size: 20px;
}
#cortina .preview-box .details title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
#cortina .preview-box .details title p {
  margin: 0 5px;
}
#cortina .preview-box .details title p .current-img {
  font-weight: 500;
}
#cortina .preview-box .img-box {
  display: flex;
  width: fit-content;
}
#cortina .preview-box .img-box img {
  max-height: 90vh;
  max-width: 80vw;
  object-fit: contain;
  border-radius: 0;
}

.heading-galeria {
  color: white;
  margin: 50px 0px 50px 0px;
  text-align: center;
}

.gallery {
  margin-top: 20px;
}

/*# sourceMappingURL=styles.css.map */
