@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Sono:wght@300&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Sono&family=Source+Code+Pro&display=swap");
.navegacion {
  position: sticky;
  top: 0;
  z-index: 99;
}

#navbarNav {
  justify-content: center;
}

.navbar-nav {
  margin-top: 0px;
  padding: 3px;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Botones NAV*/
.btn:link,
.btn:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 30px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(27, 27, 27, 0.5);
}

.btn:active {
  transform: translateY(-3px);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.btn:hover::after {
  background-color: rgb(0, 238, 255);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

/*BOTONES PERSONALIZADOS*/
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255), 0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

@media only screen and (max-width: 992px) {
  .btn {
    margin: 8px;
  }
}
@media only screen and (max-width: 992px) {
  .btn {
    margin: 8px;
  }
}
@media only screen and (max-width: 992px) {
  .btn {
    margin: 8px;
  }
}
#index-banner {
  background-image: url(../resources/fotos__comprimidas/weirdShit.jpg);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

#portfolio-banner {
  background-image: url(../resources/fotos__comprimidas/cacu-tigre-byn.jpg);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

#nft-banner {
  background-image: url(../resources/fotos__comprimidas/lucia.jpg);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

#prints-banner {
  background-image: url(../resources/fotos__comprimidas/teo-mano.jpg);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

#aboutMe-banner {
  background-image: url(../resources/fotos__comprimidas/jo-cumple-maki.JPG);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment: fixed;
  text-align: right;
  box-sizing: content-box;
}

/*Banner Index mitad de pagina*/
#banner {
  background-image: url(../resources/fotos__comprimidas/cacuvalen.jpg);
  height: 550px;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 120px;
  margin-right: 0px;
}
@media (max-width: 1000px) {
  #banner {
    height: 275px;
    background-image: url(../resources/fotos__comprimidas/cacuvalen_resized.png);
  }
}

.animate__fadeIn {
  animation-delay: 0.5s;
}

/*ESTO SE PONE EN TODOS LOS DOCUMENTOS PARA RESETEAR EL DEFAULT DEL BROWSER*/
* {
  margin: 0;
  padding: 0;
}

html header h1 {
  color: white;
}

body {
  max-width: 100%;
  font-family: "Roboto Mono";
  background-image: linear-gradient(to right, #272640, #620404);
  overflow-x: hidden;
}
body section {
  margin-top: 100px;
}
body img {
  border-radius: 15px;
  transition: 0.5s;
}
body footer {
  font-family: "Roboto Mono";
}
body footer .footer__icon__hover {
  transition: 0.5s;
  display: inline-block;
}
body footer .footer__icon__hover:hover {
  transform: scale(1.5);
}
body footer img {
  max-width: 25px;
}

.color-card {
  background-color: #3A3B40;
}

.text-white {
  color: white;
}

.title-nfts {
  font-size: 3rem;
}

.img-nfts {
  max-width: 600px;
}
@media (max-width: 1200px) {
  .img-nfts {
    max-width: 550px;
  }
}
@media (max-width: 990px) {
  .img-nfts {
    max-width: 500px;
  }
}
@media (max-width: 800px) {
  .img-nfts {
    max-width: 450px;
  }
}
@media (max-width: 650px) {
  .img-nfts {
    max-width: 400px;
  }
}
@media (max-width: 500px) {
  .img-nfts {
    max-width: 350px;
  }
}
@media (max-width: 450px) {
  .img-nfts {
    max-width: 300px;
  }
}
@media (max-width: 400px) {
  .img-nfts {
    max-width: 250px;
  }
}

.flex-center {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.gallery {
  padding: 80px;
}

.gallery-item {
  max-width: 100%;
}

#gallery-modal .modal-img {
  max-width: 100%;
}

header, h1 {
  font-size: 7rem;
  margin-right: 30px;
}

@media only screen and (max-width: 778px) {
  header h1 {
    font-size: 3rem;
  }
}
header a:visited {
  color: white;
  text-decoration: none;
}

button {
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 30px;
}

.flex-container__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container-end {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

h1 {
  padding: 15px;
}

h2 {
  padding: 15px;
}

ul {
  margin: 20px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 35px;
  margin-top: 100px;
}

footer a:visited {
  color: white;
  text-decoration: none;
}

/*GRID INDEX*/
.card-body {
  color: black;
}

.img-fluid rounded-start {
  width: 100%;
}

a {
  margin: 0em 1em;
}

.gallery {
  padding: 80px 0px;
}

.gallery img {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
