#index-banner{
    background-image:  url(../resources/fotos/weirdShit.jpg) ; 
    font-size: 110px;
    padding: 400px 0px 0px 0px;
    height: 600px;
    width: 100%;
    background-size:cover;
    background-position: center;
    margin-bottom: 0px;
    background-attachment:fixed;
    text-align: right;
    box-sizing:content-box;
}

#portfolio-banner{
    background-image: url(../resources/fotos/cacu-tigre-byn.jpg);
    font-size: 110px;
    padding: 400px 0px 0px 0px;
    height: 600px;
    width: 100%;
    background-size:cover;
    background-position: center;
    margin-bottom: 0px;
    background-attachment:fixed;
    text-align: right;
    box-sizing:content-box;
}
#nft-banner{
    background-image: url(../resources/fotos/lucia.jpg);
    font-size: 110px;
    padding: 400px 0px 0px 0px;
    height: 600px;
    width: 100%;
    background-size:cover;
    background-position: center;
    margin-bottom: 0px;
    background-attachment:fixed;
    text-align: right;
    box-sizing:content-box;
}

#prints-banner{
    background-image: url(../resources/fotos/teo-mano.jpg);
    font-size: 110px;
    padding: 400px 0px 0px 0px;
    height: 600px;
    width: 100%;
    background-size:cover;
    background-position: center;
    margin-bottom: 0px;
    background-attachment:fixed;
    text-align: right;
    box-sizing:content-box;
}

#aboutMe-banner{
  background-image: url(../resources/fotos/gabi-sabana.jpg);
  font-size: 110px;
  padding: 400px 0px 0px 0px;
  height: 600px;
  width: 100%;
  background-size:cover;
  background-position: center;
  margin-bottom: 0px;
  background-attachment:fixed;
  text-align: right;
  box-sizing:content-box;
}

/*Banner Index mitad de pagina*/
#banner{
    background-image: url(../resources/fotos/cacuvalen.jpg);
    height: 550px;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 120px;
    margin-right: 0px;
}