.navegacion{
    position: sticky;
    top: 0;
    z-index: 99;
}

#navbarNav{
    justify-content: center;
}

.navbar-nav{
    margin-top: 0px;
    padding: 3px;
}

.navbar{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Botones NAV*/
.btn:link,
.btn:visited {
 text-decoration: none;
 color: rgb(255, 255, 255);
 padding: 5px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 transform: translateY(-5px);
 box-shadow: 0 5px 20px rgba(27, 27, 27, .5);
}

.btn:active {
 transform: translateY(-3px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.btn:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}




//SELECTOR DE IDIOMA EN PROCESO
#selector-idioma{
    display: flex;
    justify-content: end;
    margin: 0px 0px 0px 120px;
}
