.nav_portfolio{
    position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 991px) {
    .nav_portfolio{
        height: 50px;
    }
  }

.navegacion{
    position: sticky;
    top: 0;
    z-index: 99;
}

#navbarNav{
    justify-content: center;
}

.navbar-nav{
    margin-top: 0px;
    padding: 3px;
}

.navbar{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


//SELECTOR DE IDIOMA EN PROCESO
#selector-idioma{
    display: flex;
    justify-content: end;
    margin: 0px 0px 0px 120px;
}
